.entry {
    padding: .65em;
    background: var(--color-close-bg);
    box-shadow: var(--shadow-small);
}

.entry__title {
    font-size: 1.4em;
    font-weight: bold;

    color: var(--color-theme);
}

.entry__details {
    font-size: .9em;
    margin-top: .4em;
    color: var(--color-soft);
}

.entry__content {
    margin-top: 1.6em;
    white-space: pre-wrap;
}

.entry__bottom {
    margin-top: 1em;
}

:deep(p) {
    margin: .45em 0;
}

:deep(h1) {
    margin-bottom: 0;
}

:deep(img) {
    display: block;
    max-width: 90%;

    margin: 0 auto;
}