.item {
    padding: .5em;

    background: var(--color-close-bg);
    box-shadow: var(--shadow-small);
}

.item__title {
    font-size: 1.1em;
    font-weight: bold;

    margin-bottom: 1.3em;
    color: var(--color-theme);
}