.banner {
    position: relative;
    padding: 3em 0;
}

.banner__text {
    font-size: 37pt;
    font-weight: bold;
    text-align: center;

    text-transform: uppercase;
    text-shadow: var(--shadow-small);

    cursor: pointer;
}

.banner__year {
    position: absolute;
    bottom: .3em;
    right: .5em;
}

@media screen and (max-width: 600px) {
    .banner__text {
        font-size: 10vw;
    }
}